$flaticon_fllopi-icons-font: "flaticon_fllopi-icons";

@font-face {
    font-family: $flaticon_fllopi-icons-font;
    src: url("./flaticon_fllopi-icons.woff2?5f9397343f4f3b5a90e406ad0503f0a2") format("woff2"),
url("./flaticon_fllopi-icons.woff?5f9397343f4f3b5a90e406ad0503f0a2") format("woff"),
url("./flaticon_fllopi-icons.eot?5f9397343f4f3b5a90e406ad0503f0a2#iefix") format("embedded-opentype"),
url("./flaticon_fllopi-icons.ttf?5f9397343f4f3b5a90e406ad0503f0a2") format("truetype"),
url("./flaticon_fllopi-icons.svg?5f9397343f4f3b5a90e406ad0503f0a2#flaticon_fllopi-icons") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_fllopi-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_fllopi-icons-map: (
    "up-right-arrow": "\f101",
    "send": "\f102",
    "search-interface-symbol": "\f103",
    "user": "\f104",
    "globe": "\f105",
    "star": "\f106",
    "star-1": "\f107",
    "read": "\f108",
    "padlock": "\f109",
    "check-mark": "\f10a",
    "phone-call": "\f10b",
    "call": "\f10c",
    "smartphone": "\f10d",
    "phone": "\f10e",
    "plus": "\f10f",
    "minus": "\f110",
    "maps-and-flags": "\f111",
    "envelope": "\f112",
    "shopping-cart": "\f113",
    "shopping-cart-1": "\f114",
    "shopping-bag": "\f115",
    "twitter": "\f116",
    "linkedin": "\f117",
    "pinterest": "\f118",
    "dribbble-logo": "\f119",
    "behance": "\f11a",
    "whatsapp": "\f11b",
    "tik-tok": "\f11c",
    "snapchat": "\f11d",
    "islam": "\f11e",
    "next": "\f11f",
    "next-1": "\f120",
    "back": "\f121",
    "left-arrow": "\f122",
    "share": "\f123",
    "share-1": "\f124",
    "menu": "\f125",
    "dots-menu": "\f126",
    "visualization": "\f127",
    "close": "\f128",
    "down-arrow": "\f129",
    "arrow-up": "\f12a",
    "up-arrow": "\f12b",
    "up-arrows": "\f12c",
    "up-arrow-1": "\f12d",
    "right": "\f12e",
    "left": "\f12f",
    "left-quote": "\f130",
    "right-quote": "\f131",
    "play": "\f132",
    "play-button": "\f133",
    "play-1": "\f134",
    "iphone": "\f135",
    "comment": "\f136",
    "close-1": "\f137",
    "home": "\f138",
    "document": "\f139",
    "windows": "\f13a",
    "apple-logo": "\f13b",
    "user-1": "\f13c",
    "mail": "\f13d",
    "arrow": "\f13e",
    "right-1": "\f13f",
    "arrow-1": "\f140",
    "arrow-2": "\f141",
    "arrow-3": "\f142",
    "share-2": "\f143",
    "play-2": "\f144",
    "check-mark-1": "\f145",
    "calendar": "\f146",
    "tag": "\f147",
    "label": "\f148",
    "personal": "\f149",
    "main-menu": "\f14a",
    "volume": "\f14b",
    "trophy": "\f14c",
    "arroba": "\f14d",
    "paper-plane": "\f14e",
    "clock": "\f14f",
    "calendar-1": "\f150",
    "pin": "\f151",
    "telephone": "\f152",
    "clock-1": "\f153",
    "download": "\f154",
    "reply": "\f155",
    "language": "\f156",
    "menu-1": "\f157",
    "bell": "\f158",
    "youtube": "\f159",
    "view": "\f15a",
    "send-1": "\f15b",
    "compass": "\f15c",
    "coffee": "\f15d",
    "rating": "\f15e",
    "quote": "\f15f",
    "checked": "\f160",
    "twitter-1": "\f161",
    "facebook": "\f162",
    "eye": "\f163",
    "placeholder": "\f164",
    "menu-2": "\f165",
    "mail-1": "\f166",
    "heart": "\f167",
    "loan": "\f168",
    "calendar-2": "\f169",
    "paving": "\f16a",
    "tile": "\f16b",
    "paint-roll": "\f16c",
    "tiles": "\f16d",
    "punctuality": "\f16e",
    "wallpaper": "\f16f",
    "messenger": "\f170",
    "star-2": "\f171",
    "carpet": "\f172",
    "paint-roller": "\f173",
    "tiles-1": "\f174",
    "material": "\f175",
    "tiles-2": "\f176",
    "floor": "\f177",
    "wood": "\f178",
    "up-right-arrow-1": "\f179",
    "arrow-down": "\f17a",
    "user-2": "\f17b",
    "folder-management": "\f17c",
    "time": "\f17d",
    "coin": "\f17e",
    "map": "\f17f",
    "telephone-1": "\f180",
    "checked-1": "\f181",
    "parquet": "\f182",
    "tile-1": "\f183",
    "stairs": "\f184",
    "tile-2": "\f185",
    "stone": "\f186",
    "architecture-and-city": "\f187",
    "blueprint": "\f188",
    "plan": "\f189",
    "parquet-1": "\f18a",
    "wood-1": "\f18b",
    "location-pin": "\f18c",
    "bubble-chat": "\f18d",
    "clock-2": "\f18e",
);

.flaticon-up-right-arrow:before {
    content: map-get($flaticon_fllopi-icons-map, "up-right-arrow");
}
.flaticon-send:before {
    content: map-get($flaticon_fllopi-icons-map, "send");
}
.flaticon-search-interface-symbol:before {
    content: map-get($flaticon_fllopi-icons-map, "search-interface-symbol");
}
.flaticon-user:before {
    content: map-get($flaticon_fllopi-icons-map, "user");
}
.flaticon-globe:before {
    content: map-get($flaticon_fllopi-icons-map, "globe");
}
.flaticon-star:before {
    content: map-get($flaticon_fllopi-icons-map, "star");
}
.flaticon-star-1:before {
    content: map-get($flaticon_fllopi-icons-map, "star-1");
}
.flaticon-read:before {
    content: map-get($flaticon_fllopi-icons-map, "read");
}
.flaticon-padlock:before {
    content: map-get($flaticon_fllopi-icons-map, "padlock");
}
.flaticon-check-mark:before {
    content: map-get($flaticon_fllopi-icons-map, "check-mark");
}
.flaticon-phone-call:before {
    content: map-get($flaticon_fllopi-icons-map, "phone-call");
}
.flaticon-call:before {
    content: map-get($flaticon_fllopi-icons-map, "call");
}
.flaticon-smartphone:before {
    content: map-get($flaticon_fllopi-icons-map, "smartphone");
}
.flaticon-phone:before {
    content: map-get($flaticon_fllopi-icons-map, "phone");
}
.flaticon-plus:before {
    content: map-get($flaticon_fllopi-icons-map, "plus");
}
.flaticon-minus:before {
    content: map-get($flaticon_fllopi-icons-map, "minus");
}
.flaticon-maps-and-flags:before {
    content: map-get($flaticon_fllopi-icons-map, "maps-and-flags");
}
.flaticon-envelope:before {
    content: map-get($flaticon_fllopi-icons-map, "envelope");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon_fllopi-icons-map, "shopping-cart");
}
.flaticon-shopping-cart-1:before {
    content: map-get($flaticon_fllopi-icons-map, "shopping-cart-1");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon_fllopi-icons-map, "shopping-bag");
}
.flaticon-twitter:before {
    content: map-get($flaticon_fllopi-icons-map, "twitter");
}
.flaticon-linkedin:before {
    content: map-get($flaticon_fllopi-icons-map, "linkedin");
}
.flaticon-pinterest:before {
    content: map-get($flaticon_fllopi-icons-map, "pinterest");
}
.flaticon-dribbble-logo:before {
    content: map-get($flaticon_fllopi-icons-map, "dribbble-logo");
}
.flaticon-behance:before {
    content: map-get($flaticon_fllopi-icons-map, "behance");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon_fllopi-icons-map, "whatsapp");
}
.flaticon-tik-tok:before {
    content: map-get($flaticon_fllopi-icons-map, "tik-tok");
}
.flaticon-snapchat:before {
    content: map-get($flaticon_fllopi-icons-map, "snapchat");
}
.flaticon-islam:before {
    content: map-get($flaticon_fllopi-icons-map, "islam");
}
.flaticon-next:before {
    content: map-get($flaticon_fllopi-icons-map, "next");
}
.flaticon-next-1:before {
    content: map-get($flaticon_fllopi-icons-map, "next-1");
}
.flaticon-back:before {
    content: map-get($flaticon_fllopi-icons-map, "back");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon_fllopi-icons-map, "left-arrow");
}
.flaticon-share:before {
    content: map-get($flaticon_fllopi-icons-map, "share");
}
.flaticon-share-1:before {
    content: map-get($flaticon_fllopi-icons-map, "share-1");
}
.flaticon-menu:before {
    content: map-get($flaticon_fllopi-icons-map, "menu");
}
.flaticon-dots-menu:before {
    content: map-get($flaticon_fllopi-icons-map, "dots-menu");
}
.flaticon-visualization:before {
    content: map-get($flaticon_fllopi-icons-map, "visualization");
}
.flaticon-close:before {
    content: map-get($flaticon_fllopi-icons-map, "close");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon_fllopi-icons-map, "down-arrow");
}
.flaticon-arrow-up:before {
    content: map-get($flaticon_fllopi-icons-map, "arrow-up");
}
.flaticon-up-arrow:before {
    content: map-get($flaticon_fllopi-icons-map, "up-arrow");
}
.flaticon-up-arrows:before {
    content: map-get($flaticon_fllopi-icons-map, "up-arrows");
}
.flaticon-up-arrow-1:before {
    content: map-get($flaticon_fllopi-icons-map, "up-arrow-1");
}
.flaticon-right:before {
    content: map-get($flaticon_fllopi-icons-map, "right");
}
.flaticon-left:before {
    content: map-get($flaticon_fllopi-icons-map, "left");
}
.flaticon-left-quote:before {
    content: map-get($flaticon_fllopi-icons-map, "left-quote");
}
.flaticon-right-quote:before {
    content: map-get($flaticon_fllopi-icons-map, "right-quote");
}
.flaticon-play:before {
    content: map-get($flaticon_fllopi-icons-map, "play");
}
.flaticon-play-button:before {
    content: map-get($flaticon_fllopi-icons-map, "play-button");
}
.flaticon-play-1:before {
    content: map-get($flaticon_fllopi-icons-map, "play-1");
}
.flaticon-iphone:before {
    content: map-get($flaticon_fllopi-icons-map, "iphone");
}
.flaticon-comment:before {
    content: map-get($flaticon_fllopi-icons-map, "comment");
}
.flaticon-close-1:before {
    content: map-get($flaticon_fllopi-icons-map, "close-1");
}
.flaticon-home:before {
    content: map-get($flaticon_fllopi-icons-map, "home");
}
.flaticon-document:before {
    content: map-get($flaticon_fllopi-icons-map, "document");
}
.flaticon-windows:before {
    content: map-get($flaticon_fllopi-icons-map, "windows");
}
.flaticon-apple-logo:before {
    content: map-get($flaticon_fllopi-icons-map, "apple-logo");
}
.flaticon-user-1:before {
    content: map-get($flaticon_fllopi-icons-map, "user-1");
}
.flaticon-mail:before {
    content: map-get($flaticon_fllopi-icons-map, "mail");
}
.flaticon-arrow:before {
    content: map-get($flaticon_fllopi-icons-map, "arrow");
}
.flaticon-right-1:before {
    content: map-get($flaticon_fllopi-icons-map, "right-1");
}
.flaticon-arrow-1:before {
    content: map-get($flaticon_fllopi-icons-map, "arrow-1");
}
.flaticon-arrow-2:before {
    content: map-get($flaticon_fllopi-icons-map, "arrow-2");
}
.flaticon-arrow-3:before {
    content: map-get($flaticon_fllopi-icons-map, "arrow-3");
}
.flaticon-share-2:before {
    content: map-get($flaticon_fllopi-icons-map, "share-2");
}
.flaticon-play-2:before {
    content: map-get($flaticon_fllopi-icons-map, "play-2");
}
.flaticon-check-mark-1:before {
    content: map-get($flaticon_fllopi-icons-map, "check-mark-1");
}
.flaticon-calendar:before {
    content: map-get($flaticon_fllopi-icons-map, "calendar");
}
.flaticon-tag:before {
    content: map-get($flaticon_fllopi-icons-map, "tag");
}
.flaticon-label:before {
    content: map-get($flaticon_fllopi-icons-map, "label");
}
.flaticon-personal:before {
    content: map-get($flaticon_fllopi-icons-map, "personal");
}
.flaticon-main-menu:before {
    content: map-get($flaticon_fllopi-icons-map, "main-menu");
}
.flaticon-volume:before {
    content: map-get($flaticon_fllopi-icons-map, "volume");
}
.flaticon-trophy:before {
    content: map-get($flaticon_fllopi-icons-map, "trophy");
}
.flaticon-arroba:before {
    content: map-get($flaticon_fllopi-icons-map, "arroba");
}
.flaticon-paper-plane:before {
    content: map-get($flaticon_fllopi-icons-map, "paper-plane");
}
.flaticon-clock:before {
    content: map-get($flaticon_fllopi-icons-map, "clock");
}
.flaticon-calendar-1:before {
    content: map-get($flaticon_fllopi-icons-map, "calendar-1");
}
.flaticon-pin:before {
    content: map-get($flaticon_fllopi-icons-map, "pin");
}
.flaticon-telephone:before {
    content: map-get($flaticon_fllopi-icons-map, "telephone");
}
.flaticon-clock-1:before {
    content: map-get($flaticon_fllopi-icons-map, "clock-1");
}
.flaticon-download:before {
    content: map-get($flaticon_fllopi-icons-map, "download");
}
.flaticon-reply:before {
    content: map-get($flaticon_fllopi-icons-map, "reply");
}
.flaticon-language:before {
    content: map-get($flaticon_fllopi-icons-map, "language");
}
.flaticon-menu-1:before {
    content: map-get($flaticon_fllopi-icons-map, "menu-1");
}
.flaticon-bell:before {
    content: map-get($flaticon_fllopi-icons-map, "bell");
}
.flaticon-youtube:before {
    content: map-get($flaticon_fllopi-icons-map, "youtube");
}
.flaticon-view:before {
    content: map-get($flaticon_fllopi-icons-map, "view");
}
.flaticon-send-1:before {
    content: map-get($flaticon_fllopi-icons-map, "send-1");
}
.flaticon-compass:before {
    content: map-get($flaticon_fllopi-icons-map, "compass");
}
.flaticon-coffee:before {
    content: map-get($flaticon_fllopi-icons-map, "coffee");
}
.flaticon-rating:before {
    content: map-get($flaticon_fllopi-icons-map, "rating");
}
.flaticon-quote:before {
    content: map-get($flaticon_fllopi-icons-map, "quote");
}
.flaticon-checked:before {
    content: map-get($flaticon_fllopi-icons-map, "checked");
}
.flaticon-twitter-1:before {
    content: map-get($flaticon_fllopi-icons-map, "twitter-1");
}
.flaticon-facebook:before {
    content: map-get($flaticon_fllopi-icons-map, "facebook");
}
.flaticon-eye:before {
    content: map-get($flaticon_fllopi-icons-map, "eye");
}
.flaticon-placeholder:before {
    content: map-get($flaticon_fllopi-icons-map, "placeholder");
}
.flaticon-menu-2:before {
    content: map-get($flaticon_fllopi-icons-map, "menu-2");
}
.flaticon-mail-1:before {
    content: map-get($flaticon_fllopi-icons-map, "mail-1");
}
.flaticon-heart:before {
    content: map-get($flaticon_fllopi-icons-map, "heart");
}
.flaticon-loan:before {
    content: map-get($flaticon_fllopi-icons-map, "loan");
}
.flaticon-calendar-2:before {
    content: map-get($flaticon_fllopi-icons-map, "calendar-2");
}
.flaticon-paving:before {
    content: map-get($flaticon_fllopi-icons-map, "paving");
}
.flaticon-tile:before {
    content: map-get($flaticon_fllopi-icons-map, "tile");
}
.flaticon-paint-roll:before {
    content: map-get($flaticon_fllopi-icons-map, "paint-roll");
}
.flaticon-tiles:before {
    content: map-get($flaticon_fllopi-icons-map, "tiles");
}
.flaticon-punctuality:before {
    content: map-get($flaticon_fllopi-icons-map, "punctuality");
}
.flaticon-wallpaper:before {
    content: map-get($flaticon_fllopi-icons-map, "wallpaper");
}
.flaticon-messenger:before {
    content: map-get($flaticon_fllopi-icons-map, "messenger");
}
.flaticon-star-2:before {
    content: map-get($flaticon_fllopi-icons-map, "star-2");
}
.flaticon-carpet:before {
    content: map-get($flaticon_fllopi-icons-map, "carpet");
}
.flaticon-paint-roller:before {
    content: map-get($flaticon_fllopi-icons-map, "paint-roller");
}
.flaticon-tiles-1:before {
    content: map-get($flaticon_fllopi-icons-map, "tiles-1");
}
.flaticon-material:before {
    content: map-get($flaticon_fllopi-icons-map, "material");
}
.flaticon-tiles-2:before {
    content: map-get($flaticon_fllopi-icons-map, "tiles-2");
}
.flaticon-floor:before {
    content: map-get($flaticon_fllopi-icons-map, "floor");
}
.flaticon-wood:before {
    content: map-get($flaticon_fllopi-icons-map, "wood");
}
.flaticon-up-right-arrow-1:before {
    content: map-get($flaticon_fllopi-icons-map, "up-right-arrow-1");
}
.flaticon-arrow-down:before {
    content: map-get($flaticon_fllopi-icons-map, "arrow-down");
}
.flaticon-user-2:before {
    content: map-get($flaticon_fllopi-icons-map, "user-2");
}
.flaticon-folder-management:before {
    content: map-get($flaticon_fllopi-icons-map, "folder-management");
}
.flaticon-time:before {
    content: map-get($flaticon_fllopi-icons-map, "time");
}
.flaticon-coin:before {
    content: map-get($flaticon_fllopi-icons-map, "coin");
}
.flaticon-map:before {
    content: map-get($flaticon_fllopi-icons-map, "map");
}
.flaticon-telephone-1:before {
    content: map-get($flaticon_fllopi-icons-map, "telephone-1");
}
.flaticon-checked-1:before {
    content: map-get($flaticon_fllopi-icons-map, "checked-1");
}
.flaticon-parquet:before {
    content: map-get($flaticon_fllopi-icons-map, "parquet");
}
.flaticon-tile-1:before {
    content: map-get($flaticon_fllopi-icons-map, "tile-1");
}
.flaticon-stairs:before {
    content: map-get($flaticon_fllopi-icons-map, "stairs");
}
.flaticon-tile-2:before {
    content: map-get($flaticon_fllopi-icons-map, "tile-2");
}
.flaticon-stone:before {
    content: map-get($flaticon_fllopi-icons-map, "stone");
}
.flaticon-architecture-and-city:before {
    content: map-get($flaticon_fllopi-icons-map, "architecture-and-city");
}
.flaticon-blueprint:before {
    content: map-get($flaticon_fllopi-icons-map, "blueprint");
}
.flaticon-plan:before {
    content: map-get($flaticon_fllopi-icons-map, "plan");
}
.flaticon-parquet-1:before {
    content: map-get($flaticon_fllopi-icons-map, "parquet-1");
}
.flaticon-wood-1:before {
    content: map-get($flaticon_fllopi-icons-map, "wood-1");
}
.flaticon-location-pin:before {
    content: map-get($flaticon_fllopi-icons-map, "location-pin");
}
.flaticon-bubble-chat:before {
    content: map-get($flaticon_fllopi-icons-map, "bubble-chat");
}
.flaticon-clock-2:before {
    content: map-get($flaticon_fllopi-icons-map, "clock-2");
}
